body {
  font-family: 'Roboto',
    sans-serif;
}

.nav-margin {
  margin: 25px;
}

.has-bg-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://source.unsplash.com/FK81rxilUXg/1600x900");
}

.title {
  font-weight: bold;
  font-size: 400%;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 150%;
}

.flex {
  display: flex;
  align-items: center;
}

p {
  max-width: 600px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}